.wrapper {
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: calc(100vw - 400px);
  align-items: center;
}

header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header p {
  font-size: 2rem;
  margin: 20px;
}

header button {
  padding: 10px;
  border-radius: 1.5rem;
  font-weight: 600;
  border: none;
  background-color: #068fff;
  color: white;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header input {
  padding: 10px;
  border-radius: 1.5rem;
  border: none;
  background-color: #eee;
  margin: 20px;
  height: 30px;
  width: 250px;
  outline: none;
  font-size: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-wrapper {
  width: 95%;
  padding: 10px;
  box-shadow: rgba(137, 137, 143, 0.2) 0px 7px 29px 0px;
  border-radius: 1.5rem;
}

table td,
table th {
  text-align: center;
}
